body {
    font-family: "Helvetica Neue",
      Arial,
      "Hiragino Kaku Gothic ProN",
      "Hiragino Sans",
      Meiryo,
      sans-serif;
}

.header_beer {
  width: 100%;
  min-height: 615px;
  background-image: url("/assets/img/header/header_beer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.header_container {
    width: 100%;
    min-height: 615px;
}

.service_icon {
  padding-top: 60px;
  padding-left: 100px;
}

.service_icon_image { 
  width: 150px;
}

@media screen and (max-width: 480px) {
	.header_beer {
    width: 100%;
    max-width: 480px;
    min-height: 189px;
    background-image: url("/assets/img/header/header_beer_sp.jpg");
    background-size: auto 189px;
    background-repeat: no-repeat;
    background-position: top center;
  }

  .header_container {
    width: 100%;
    min-height: 189px;
  }

  .service_icon {
    padding-top: 8px;
    padding-left: 20px;
  }
  
  .service_icon_image { 
    width: 56px;
  }
}