.barlist_overall {
    background: #000000;
}

.barlist {
    list-style-type: none;
    padding-left: 7vw;
    padding-right: 7vw;
    margin-top: 4vw;
    margin-bottom: 4vw;
}

.bar {
    margin: auto;
    padding-top: 0px;
}