<mat-card class="barcard">
    <div class="main_section">
        <div class="title">
            <mat-icon class="beer_icon">sports_bar</mat-icon><mat-card-title class="main_titile">{{_bar.barName}}</mat-card-title>
        </div>
        <div class="area_stations">
            <label class="subtitle">{{ _bar.address }}</label>
        </div>
        <div class="area_stations">
            <label class="subtitle">{{ _bar.phoneNumber }}</label>
        </div>
        <div class="area_stations">
            <a class="subtitle" [href]="_bar.tabelogLink">食べログリンク</a>
        </div>
        <label class="tap_value">Tap : {{ _bar.numberOfTaps }}</label><label class="food_value">Food : Mex-Italian</label>
    </div>
 </mat-card>