.explorer {
    margin-top: -200px;
}

.explorer_form {
    text-align: center;
}

.area_form {
    width: 550px;
    height: 50px;
    border-radius: 36px;
    box-shadow: inset 0px 0px 2px 2px;
    margin: auto;
    border: 0px;
    vertical-align: middle;
}

.submit_button {
    height: 50px;
    margin-left: 5px;
    vertical-align: middle;
}